@font-face {
	font-family: 'Dock11';
	src: url('../fonts/heavy_dock11.otf') format("opentype");
	src: url('../fonts/heavy_dock11-webfont.eot');
	src: url('../fonts/heavy_dock11-webfont.eot') format('embedded-opentype'),
		 url('../fonts/heavy_dock11-webfont.woff') format('woff'),
		 url('../fonts/heavy_dock11-webfont.ttf') format('truetype'),
		 url('../fonts/heavy_dock11-webfont.svg#DOCK11Heavy') format('svg');
	
	font-weight: normal;
	font-style: normal;
}

.hero-unit h1, .hero-unit h1 a {
	font-family: 'Dock11', 'Arial Black', 'Arial'; 
	text-transform: uppercase;
	color: #FC7D3B;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.hero-unit p.sub { 
	font-family: 'Dock11', 'Arial Black', 'Arial'; 
	text-transform: uppercase;
	font-size: 2em;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.page-header ul { margin: 0; }
.page-header ul li {	
	margin: 0 40px 0 0;
	display: inline;
}

.hero-unit a:hover, .label a:hover, h2 a:hover { text-decoration: none; }
.label a { color: white; }

.form-stacked {
    padding-left: 0px;
}

.alert-message.block-message.default {
	background-color: #F5F5F5;
    border-color: #CCCCCC #CCCCCC;
}

article header .label {
	min-width: 1em;
	text-align: center;
}

.form-submit { margin-top: 10px; }
figure { margin: 0; }

.media-grid.pull-left { margin-right: 10px; }
.more-link { display: block; margin-top: 15px;}
article { margin-bottom: 60px;}
article footer { margin-top: 0; }

.commentlist {margin-left: 0; }
.commentlist li { list-style-type: none; }

h1 {
    font-size: 25px;
}
h1 small { font-size: 0.7em; }

.media-grid li a { margin-left: 10px; }
.media-grid li p, .media-grid li a:hover p { text-decoration: none; color: #404040; }

.modal {
    max-width: 900px;
    width: auto;
    top: 10px;
    left: 25%;
}